name: Validate Pull Request in Merge Sandbox

on:
  pull_request:
    types: [opened, synchronize]
    branches: [ release ]
    paths:
      - 'force-app/**'

jobs:
  validate-pr-in-merge-sandbox:
    runs-on: ubuntu-latest
    environment: sffnoobs
    steps:

      - name: Setup Node 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Install Salesforce CLI (sfdx)
        run: npm install @salesforce/cli --global

      - name: Install sfdx-git-delta plugin
        run: |
          echo Y | sfdx plugins:install sfdx-git-delta
          sfdx plugins

      - name: Create delta packages
        run: |
          mkdir changed-sources
          sf sgd source delta \
            --to "HEAD" \
            --from "HEAD~1" \
            --output changed-sources/ \
            --generate-delta \
            --source force-app/
          echo "[INFO] Diff generated"

      - name: 'Deploy to environment with running all local tests'
        run: |
          echo "${{ secrets.SALESFORCE_JWT_SECRET_KEY }}" > server.key
          sf org login jwt --username ${{ secrets.SALESFORCE_DEVHUB_USERNAME }} --jwt-key-file server.key --client-id ${{ secrets.SALESFORCE_CONSUMER_KEY }} --instance-url ${{ vars.INSTANCE_URL }} --set-default
          sf project deploy start --source-dir changed-sources/force-app --test-level RunLocalTests

