name: Validate Pull Request in Merge Sandbox

on:
  pull_request:
    types: [opened, synchronize]
    branches: [ release ]
    paths:
      - 'force-app/**'

jobs:
  validate-pr-in-merge-sandbox:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:

      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Install latest Salesforce CLI (Node 18 included)
      - name: Install Salesforce CLI
        uses: salesforcecli/action-install@v1

      # Install sfdx-git-delta plugin
      - name: Install sfdx git delta
        run: |
          echo y | sfdx plugins:install sfdx-git-delta
          sfdx plugins

      - name: Create delta packages
        run: |
          mkdir changed-sources
          sfdx sgd:source:delta \
            --to "HEAD" \
            --from "HEAD^" \
            --output changed-sources/ \
            --generate-delta \
            --source force-app/

      - name: Get JWT Key
        run: echo "${{ secrets.SALESFORCE_JWT_SECRET_KEY }}" > server.key

      - name: Authenticate to Production Org
        run: sfdx force:auth:jwt:grant \
              --clientid=${{ secrets.SALESFORCE_CONSUMER_KEY }} \
              --jwtkeyfile=server.key \
              --username=${{ secrets.SALESFORCE_DEVHUB_USERNAME }} \
              --setdefaultdevhubusername

      - name: Validate Pull Request in Merge Sandbox
        run: sfdx force:source:deploy -c -p force-app --testlevel RunLocalTests --json -u ${{ secrets.SALESFORCE_DEVHUB_USERNAME }}
